*{
    padding: 0;
    margin: 0;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.home-link{
    text-decoration: none;
    color: black;
}

.active{
    text-decoration: none;
    color: grey;

}